body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:antiquewhite
}

.signin-container, .dashboard-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.dashboard-container header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}